natives
.minecraft/asm
.minecraft/backups
.minecraft/coremods
.minecraft/crash-reports
.minecraft/gregtech.lang
.minecraft/icon.png
.minecraft/journeymap
.minecraft/local
.minecraft/logs
.minecraft/modpack
.minecraft/resourcepacks
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/texturepacks