minecraft/.curseclient
minecraft/asm
minecraft/backups
minecraft/bin
minecraft/blueprints
minecraft/coremods
minecraft/crash-reports
minecraft/downloads
minecraft/journeymap
minecraft/logs
minecraft/manifest.json
minecraft/minecraftinstance.json
minecraft/minetweaker.log
minecraft/modpack
minecraft/options.txt
minecraft/saves
minecraft/screenshots
minecraft/server-resource-packs
minecraft/servers.dat
minecraft/texturepacks
minecraft/usernamecache.json