# Configuration file

debarker {
    I:"gt.block.log.a.0;ic2distilledwater;_64"=64
    I:"gt.block.log.a.0;spectral_dew;_64"=64
    I:"gt.block.log.a.0;water;_64"=64
    I:"gt.block.log.a.1;ic2distilledwater;_64"=64
    I:"gt.block.log.a.1;spectral_dew;_64"=64
    I:"gt.block.log.a.1;water;_64"=64
    I:"gt.block.log.a.2;ic2distilledwater;_64"=64
    I:"gt.block.log.a.2;spectral_dew;_64"=64
    I:"gt.block.log.a.2;water;_64"=64
    I:"gt.block.log.a.3;ic2distilledwater;_64"=64
    I:"gt.block.log.a.3;spectral_dew;_64"=64
    I:"gt.block.log.a.3;water;_64"=64
    I:"gt.block.log.a.fireproof.0;ic2distilledwater;_64"=64
    I:"gt.block.log.a.fireproof.0;spectral_dew;_64"=64
    I:"gt.block.log.a.fireproof.0;water;_64"=64
    I:"gt.block.log.a.fireproof.1;ic2distilledwater;_64"=64
    I:"gt.block.log.a.fireproof.1;spectral_dew;_64"=64
    I:"gt.block.log.a.fireproof.1;water;_64"=64
    I:"gt.block.log.a.fireproof.2;ic2distilledwater;_64"=64
    I:"gt.block.log.a.fireproof.2;spectral_dew;_64"=64
    I:"gt.block.log.a.fireproof.2;water;_64"=64
    I:"gt.block.log.a.fireproof.3;ic2distilledwater;_64"=64
    I:"gt.block.log.a.fireproof.3;spectral_dew;_64"=64
    I:"gt.block.log.a.fireproof.3;water;_64"=64
    I:"gt.block.log.b.0;ic2distilledwater;_64"=64
    I:"gt.block.log.b.0;spectral_dew;_64"=64
    I:"gt.block.log.b.0;water;_64"=64
    I:"gt.block.log.b.1;ic2distilledwater;_64"=64
    I:"gt.block.log.b.1;spectral_dew;_64"=64
    I:"gt.block.log.b.1;water;_64"=64
    I:"gt.block.log.b.2;ic2distilledwater;_64"=64
    I:"gt.block.log.b.2;spectral_dew;_64"=64
    I:"gt.block.log.b.2;water;_64"=64
    I:"gt.block.log.b.3;ic2distilledwater;_64"=64
    I:"gt.block.log.b.3;spectral_dew;_64"=64
    I:"gt.block.log.b.3;water;_64"=64
    I:"gt.block.log.b.fireproof.0;ic2distilledwater;_64"=64
    I:"gt.block.log.b.fireproof.0;spectral_dew;_64"=64
    I:"gt.block.log.b.fireproof.0;water;_64"=64
    I:"gt.block.log.b.fireproof.1;ic2distilledwater;_64"=64
    I:"gt.block.log.b.fireproof.1;spectral_dew;_64"=64
    I:"gt.block.log.b.fireproof.1;water;_64"=64
    I:"gt.block.log.b.fireproof.2;ic2distilledwater;_64"=64
    I:"gt.block.log.b.fireproof.2;spectral_dew;_64"=64
    I:"gt.block.log.b.fireproof.2;water;_64"=64
    I:"gt.block.log.b.fireproof.3;ic2distilledwater;_64"=64
    I:"gt.block.log.b.fireproof.3;spectral_dew;_64"=64
    I:"gt.block.log.b.fireproof.3;water;_64"=64
    I:"tile.TFLog.0;ic2distilledwater;_64"=64
    I:"tile.TFLog.0;spectral_dew;_64"=64
    I:"tile.TFLog.0;water;_64"=64
    I:"tile.TFLog.1;ic2distilledwater;_64"=64
    I:"tile.TFLog.1;spectral_dew;_64"=64
    I:"tile.TFLog.1;water;_64"=64
    I:"tile.TFLog.2;ic2distilledwater;_64"=64
    I:"tile.TFLog.2;spectral_dew;_64"=64
    I:"tile.TFLog.2;water;_64"=64
    I:"tile.TFLog.3;ic2distilledwater;_64"=64
    I:"tile.TFLog.3;spectral_dew;_64"=64
    I:"tile.TFLog.3;water;_64"=64
    I:"tile.TFMagicLog.0;ic2distilledwater;_64"=64
    I:"tile.TFMagicLog.0;spectral_dew;_64"=64
    I:"tile.TFMagicLog.0;water;_64"=64
    I:"tile.TFMagicLog.1;ic2distilledwater;_64"=64
    I:"tile.TFMagicLog.1;spectral_dew;_64"=64
    I:"tile.TFMagicLog.1;water;_64"=64
    I:"tile.TFMagicLog.2;ic2distilledwater;_64"=64
    I:"tile.TFMagicLog.2;spectral_dew;_64"=64
    I:"tile.TFMagicLog.2;water;_64"=64
    I:"tile.TFMagicLog.3;ic2distilledwater;_64"=64
    I:"tile.TFMagicLog.3;spectral_dew;_64"=64
    I:"tile.TFMagicLog.3;water;_64"=64
    I:"tile.TFMagicLogSpecial.0;ic2distilledwater;_64"=64
    I:"tile.TFMagicLogSpecial.0;spectral_dew;_64"=64
    I:"tile.TFMagicLogSpecial.0;water;_64"=64
    I:"tile.TFMagicLogSpecial.1;ic2distilledwater;_64"=64
    I:"tile.TFMagicLogSpecial.1;spectral_dew;_64"=64
    I:"tile.TFMagicLogSpecial.1;water;_64"=64
    I:"tile.TFMagicLogSpecial.2;ic2distilledwater;_64"=64
    I:"tile.TFMagicLogSpecial.2;spectral_dew;_64"=64
    I:"tile.TFMagicLogSpecial.2;water;_64"=64
    I:"tile.TFMagicLogSpecial.3;ic2distilledwater;_64"=64
    I:"tile.TFMagicLogSpecial.3;spectral_dew;_64"=64
    I:"tile.TFMagicLogSpecial.3;water;_64"=64
    I:"tile.log.acacia;ic2distilledwater;_64"=64
    I:"tile.log.acacia;spectral_dew;_64"=64
    I:"tile.log.acacia;water;_64"=64
    I:"tile.log.big_oak;ic2distilledwater;_64"=64
    I:"tile.log.big_oak;spectral_dew;_64"=64
    I:"tile.log.big_oak;water;_64"=64
    I:"tile.log.birch;ic2distilledwater;_64"=64
    I:"tile.log.birch;spectral_dew;_64"=64
    I:"tile.log.birch;water;_64"=64
    I:"tile.log.jungle;ic2distilledwater;_64"=64
    I:"tile.log.jungle;spectral_dew;_64"=64
    I:"tile.log.jungle;water;_64"=64
    I:"tile.log.oak;ic2distilledwater;_64"=64
    I:"tile.log.oak;spectral_dew;_64"=64
    I:"tile.log.oak;water;_64"=64
    I:"tile.log.spruce;ic2distilledwater;_64"=64
    I:"tile.log.spruce;spectral_dew;_64"=64
    I:"tile.log.spruce;water;_64"=64
    I:"tile.pamCinnamon;ic2distilledwater;_64"=64
    I:"tile.pamCinnamon;spectral_dew;_64"=64
    I:"tile.pamCinnamon;water;_64"=64
    I:"tile.pamMaple;ic2distilledwater;_64"=64
    I:"tile.pamMaple;spectral_dew;_64"=64
    I:"tile.pamMaple;water;_64"=64
    I:"tile.pamPaperbark;ic2distilledwater;_64"=64
    I:"tile.pamPaperbark;spectral_dew;_64"=64
    I:"tile.pamPaperbark;water;_64"=64
}


